<html lang="en" class="h-100">
  <head>
    <meta name="author" content="Agustín Enriquez">
    <title>Pythonistas</title>
  </head>
<body>
  <form class="form-inline busqueda my-2 my-lg-0" action="{% url 'search' %}" method="get">
    <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" name="searchbtn" type="submit">Search</button>
  </form>
  {% block content %}
  {% endblock %}
</body>
</html>
