{% block content %}
    <h2>Store</h2>
        <div class="row">
        {% for item in object_list %}
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
            <a href=""><img class="card-img-top" src="" alt=""></a>
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.price }}</p>
              <div class="row">
                <div class="col-md-6"><a href="" class="btn btn-primary">+Details</a></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}